{% extends "layouts/app.twig" %}

{% block flash %}
{% if flash|length > 0 %}
    {% for flashType, flashMessages in flash %}
        <div class="alert alert-{{ flashType }}" role="alert">{{ flashMessages|join('<br>') }}</div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
    test
{% endblock %}